{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="col-md-7 m-auto p-3 border border-info rounded mt-5">
    <div>
    
        <h3 class="my-font text-warning">Are you sure, You want to delete ? </h3>
        
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{form | crispy}}
            <input type="submit" value="Confirm Delete" class="btn btn-outline-danger px-5 w-100">
        </form>
    </div>
</div>

{% endblock content %}