{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center">

    <div class="w-50">
    
    {% comment %} <form method='post' action='{% url "index" %}'> {% endcomment %}
    <form method='post' action=''>
        {% csrf_token %}
        <div class="mb-3">
        <label for="nameInput" class="form-label">Your Name</label>
        <input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" name='name'>
        </div>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name='email'>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    </div>
</div>

{% endblock content %}