{% extends "base.html" %}
{% block title %}{{title}} | {% endblock title %}


{% block content %}


<div class="col-5 m-auto border p-3 rounded bg-secondary-subtle mt-5">
    {% if title == 'Loan Request' %}
    <div>
        <a class="fw-bold text-primary text-end text-decoration-none pb-5 pt-10 px-5" href="{% url 'loans' %}">View All Loan List</a>
        <hr>
    </div>
    {% endif %}

    <h3>{{title}}</h3>
    <form action=""  method="post">
    {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="amount">
            Amount
            </label>
            <input class="form-control" name="amount" id="amount" type="number" required placeholder="Amount">
        </div>
        {% if form.amount.errors %} 
            {% for error in form.amount.errors %}
                <p class="text-danger fst-italic fw-bold mb-5">{{ error }}</p>
            {% endfor %} 
        {% endif %} 
     
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}