{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <h1>Meals</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
       
        {% for meal in meals %}
        <div class="col">
            <div class="card">
              <img src={{meal.strMealThumb}} class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{meal.strMeal}}</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, laudantium?.</p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>

 
    
</div>

{% endblock content %}